header {
    background-color: lightgray;
    text-align: center;
}
main { 
    text-align: center;
    font-size: 30px;
}
#Karte {
    font-size: 10px;
    background-color: aqua;
    height: 20px;
    width: 10px;
    text-align: center;
    font-size:20px;
} 


#GegnerDeck {
    margin: 10px;
    height: 15%;
    background-color: aqua;
    color: aqua;
}
[id= "GegnerDeck"] {
    color: aqua;
    font-size: 100%;
}


div {
    width: 90%;
    background-color: silver;
    margin-bottom: 15%;
    margin-top: 5%;
    border-color: black;

}