header {
    width: 100%;
    color: black;
    background-color: red;   
}
ul {
    height: 5px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    height: 100%; 
    position: fixed; 
    overflow: auto;
}
li a {
    display: block;
    width: 60px;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover {
    background-color: #555;
    color: white;
  }
  .active {
    background-color: #4CAF50;
    color: white;
  }
body {
    background-color: lightgray;
}
p {
    text-align: center;
    font-size: 25px;
    color: white
    font-family: Noto Sans, Arial, sans-serif;
    background-color: :-moz-only-whitespace
    fill-rule: initial; 
}

footer {
    
    width: 100%;
  float: left;
  clear: both;
  position: -webkit-sticky;
  margin-bottom: 0ch;
}
nav {
    font-size: 120%;
}
main {
    margin-right: 20%;
    margin-left: 20%;
    width: 60%;  
}
aside {
    width: 15%;
    float: left;
    clear: both;
    margin-top: 120px;
    background-color: royalblue;
}
aside:hover {
    width: 20%;
}
section {
    height: 25rem;
    overflow: scroll;
    font-size: 30%;
    background-color: khaki;
    width: 23%;
    float: left;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    margin-top: 1%;
    border-block-end-color: bisque,
}
img  {
    width: 100%;
    height: 50%;
}
h2  {
    font-size: 20px
}
ul {
    list-style: none;
    text-align: inherit;
    height: 20px;
overflow: hidden;
background-color: brown;
} 
h1 {
    font-size: 50px;  
}
@media screen and (min-width: 63em){
    main{
        width: 80%;
        margin-left: 20%;
        margin-top: 7em;
    }
    section{
        width: 49%;
        float:left;
        margin-left: 2%;
    }
    aside{
        background-color: #594186;
        width: 15%;
        position: fixed;
        padding: 1%;
        margin-top: 3em;
    }
    aside:hover{
        width: 17.5%;
    }
    section:first-of-type,section:nth-of-type(2n+1){
        margin-left: 0%;
    }
}
@media screen and (min-width: 90em){
    main{
        width: 60%;
        margin-left: 20%;
    }
    section{
        width: 23.5%;
        float:left;
        margin-left: 2%;
    }

    section:nth-of-type(2n+1){
        margin-left: 2%;
    }

    section:first-of-type,section:nth-of-type(4n+1){
        margin-left: 0%;
        clear:both;
    }

